@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html
{
    font-size: 50.9%;
    overflow-x: hidden;
}

section
{
    min-height: 100vh;
    padding:10rem 9% 2rem;
}

.top-nav 
{
    float: top;
    display: flex;
    top: 1.1%;
    padding: 2rem 10%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/purple-gradient-luxury-background-design_343694-2556.png?raw=true") ;
    background-repeat:initial;
}

.top-nav i a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .9rem;
    font-size:24px;
    color: #E65100;
    background: transparent;
    border-radius: .5rem;
    transition: .5s ease;
}

.top-nav b
{
    color: #76FF03;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.menu 
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

.menu a:hover,
.menu a.active
{
    color: #00abf0;
}

.menu > li 
{
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container 
{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle 
{
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after 
{
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before 
{
    content: '';
    margin-top: -8px;
}

.menu-button::after 
{
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before 
{
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button 
{
    background: #546E7A;
}

#menu-toggle:checked + .menu-button-container .menu-button::after 
{
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) 
{
    .menu-button-container 
    {
        display: flex;
    }
    .menu 
{
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
}
    
#menu-toggle ~ .menu li 
{
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
    
#menu-toggle:checked ~ .menu li 
{
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
    .menu > li 
{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: #000000;
}
    
.menu > li:not(:last-child) 
{
    border-bottom: 1px solid #546E7A;
}
}

.menu li a
{
    color:#f2f2f2;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s* var(--i));
}

.home
{
    display: flex;
    justify-content: center;
    align-items:center;
    background: url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/purple-gradient-luxury-background-design_343694-2556.png?raw=true");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-img img 
{
    width: 25vw;
    margin-bottom: 3rem;
    animation: floatImage 4s ease-in-out infinite;
    opacity: 0;
    animation: zoomIn .5s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.home-content h1
{
    font-size: 5.6rem;
    font-weight: 700;
    color: #F4511E;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1.3;
    opacity: 0;
    animation: slideRight .5s ease forwards;
    animation-delay: .7s;
}

.home-content p
{
    font-size: 2.3rem;
    margin: .3rem;
    margin-top: 3rem;
    color: #E65100;
    text-shadow: 2px 2px 4px #000000;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: .7s;
}

.home-content p strong
{
    font-size: 2.5rem;
    color: #00E5FF;
}

.home-content h3:nth-of-type(2)
{
    margin-bottom: 2rem;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .7s;
}

.social-media a i
{
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #00f050;
    border-radius: 50%;
    font-size: 3rem;
    color: #00abf0;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.social-media a i:hover
{
    color: greenyellow; 
    background-color: aqua;   
    align-items: center;
}

.social-media p b
{
    font-size: 1.5rem;

}

.btn
{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #00abf0;
    border-radius: 4rem;
    box-shadow: none ;
    font-size: 1.6rem;
    color: #000000;
    letter-spacing: .1rem;
    font-weight: 600;
    transition:.5s ease;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 2s;
}

.btn:hover
{
    box-shadow: 0 0 1rem greenyellow;
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(135deg, #28313b 0%, #485461 74%);
}

.about-img img
{
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}

.heading
{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2
{
    text-align: left;
    line-height: 1.2;
    color: lightcoral;
    text-shadow: 2px 2px 4px #000000;
}

.about-content h2 span
{
    color: #00abf0;  
    text-shadow: 2px 2px 4px #000000;
}

.about-content p
{
    font-size: 2rem;
    margin: 2rem 0 3rem;
    text-shadow: 2px 2px 4px #000000;
}

.about-content p b
{
    font-size: 3rem;
    color:#0ef;
    text-shadow: 2px 2px 4px #000000;
}

.about-content p 
{
    font-size: 2.3rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.about-content li
{
    font-size: 2rem;
    color:#FF6F00;
    text-shadow: 2px 2px 4px #000000;
}

.logos
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/logos.jpeg?raw=true");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.container h1
{
    font-size: 6rem;
    color: #76FF03;
}

.container h3
{
    font-size: 4rem;
    color: #F4511E; 
}

.imgSlider
{
    width: 400px;
    height: 400px;
    background-image: url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/f.png?raw=true");
    background-size: 100% 100%;
    box-shadow: 10px 10px 8px #888888;
    animation: changeImage 45s linear infinite;
}

@keyframes changeImage
{
    0%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/f.png?raw=true");
    }
    10%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/s.png?raw=true");
    }
    20%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/1%20-%20Copy.png?raw=true");
    }
    30%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/2%20-%20Copy.png?raw=true");
    }
    40%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/Green-Tea.png?raw=true");
    }
    50%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/Fiverr.png?raw=true");
    }
    60%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/Eye-Drop.png?raw=true");
    }
    70%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/Bunny.png?raw=true");
    }
    80%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/P_Logo.png?raw=true");
    }
    90%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/GOA.png?raw=true");
    }
}

.socialmediaposters
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/social-media-elements-background_79603-1520.png?raw=true");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.heading
{
    text-align: center;
    font-size: 4.5rem;
}

.socialmediaposters h2
{
    margin-bottom: 4rem;
    color: darkgoldenrod;
    text-shadow: 2px 2px 4px #000000;
}

.socialmediaposters h2 span
{
    color: orangered;
    text-shadow: 2px 2px 4px #000000;
}

.imgSlider2
{
    width: 850px;
    height: 500px;
    background-image: url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/Coffee.png?raw=true");
    background-size: 100% 100%;
    box-shadow: 10px 10px 8px #888888;
    animation: changeImage1 45s linear infinite;
}

@keyframes changeImage1
{
    0%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/Coffee.png?raw=true");
    }
    25%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/Chocolate.png?raw=true");
    }
    50%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/Ice%20Cream.png?raw=true");
    }
    75%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/Jet%20Airways%20.png?raw=true");
    }
    100%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/SWIGGY.png?raw=true");
    }
}

.bookcover
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/modern-abstract-background-design-with-colorful-liquid-shapes-fluid-background-design-for-landing-page-theme-brochure-banner-cover-print-flyer-book-card-or-a.png?raw=true");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.heading
{
    text-align: center;
    font-size: 4.5rem;
}

.bookcover h2
{
    margin-bottom: 4rem;
    color: #D500F9;
    text-shadow: 2px 2px 4px #000000;
}

.bookcover h2 span
{
    color: #FF6F00;
    text-shadow: 2px 2px 4px #000000;
}

.imgSlider3
{
    width: 300px;
    height: 500px;
    background-image: url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/book-cover_2.png?raw=true");
    background-size: 100% 100%;
    box-shadow: 10px 10px 8px #888888;
    animation: changeImage2 45s linear infinite;
}

@keyframes changeImage2
{
    0%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/book-cover.png?raw=true");
    }
    25%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/book-cover_2.png?raw=true");
    }
    50%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/book-cover.png?raw=true");
    }
    75%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/book-cover.png?raw=true");
    }
    100%
    {
        background-image:url("https://github.com/Subham-Giri1608/portfolio.github.io/blob/main/book-cover.png?raw=true");
    }
}

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 1%;
    background:#323946;
}

.footer-text p
{
    font-size: 1.9rem;    
}

.footer-iconTop a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #0ef;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover
{
    box-shadow: 0 0 1rem #88ff00;
}

.footer-iconTop a 
{
    font-size: 2.4rem;
    color: #ffffff;
}

@keyframes slideRight
{
    0%
    {
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft
{
    0%
    {
        transform: translateX(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop
{
    0%
    {
        transform: translateY(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideButtom
{
    0%
    {
        transform: translateY(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn
{
    0%
    {
        transform: scale(0);
        opacity: 0;
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-24px);
    }
    100%
    {
        transform: translateY(0);
    }
}


@media (max-width: 1200px)
{
    html
    {
        font-size: 55%;
    }
}

@media (max-width: 991px)
{
    .header
    {
        padding: 2rem 3%;
    }
    section
    {
        padding: 10rem 3% 2rem;
    }

    .logos
    {
        padding-bottom: 7rem;
    }

    .socialmediaposters
    {
        padding-bottom: 7rem;
    }

    .bookcover
    {
        min-height: auto;
    }

    .footer
    {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px)
{

    .home
    {
        flex-direction: column;
    }

    .home-content h3
    {
        font-size: 2.6rem;
    }

    .home-content h1 
    {
        font-size: 5rem;
    }
    .home-img img 
    {
        width: 70vw;
        margin-top: 4rem;
    }

    .about
    {
        flex-direction: column-reverse;
    }

    .about img
    {
        width: 70vw;
        margin-top: 4rem;
    }

    .logos h2
    {
        margin-bottom: 3rem;
    }

    .socialmediaposters h2 
    {
        margin-bottom: 3rem;
    }

    .socialmediaposters-container
    {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 450px)
{
    html
    {
        font-size: 50%;
    }   
}

@media (max-width: 365px)
{
    .home-img img 
    {
        width: 90vw;
    }

    .about img
    {
        width: 90vw;
    }

    .footer
    {
        flex-direction: column-reverse;
    }
    .footer p 
    {
        text-align: center;
        margin-top: 2rem;
    }
}
